*.zip
**/__pycache__/
**/.vscode/

PRG/**/lectures/
PRG/**/testing_files/
PRG/*/generate_solutions.sh

KUI/**/kuimaze/
KUI/**/maps/
KUI/**/maps_difficult/
KUI/**/lab/

ALP/Lessons/
ALP/Tests/
ALP/**/Evaluation_functions